.bin
*.class

# Eclipse IDE
.classpath
.project
.settings/

fj11-contas/.classpath
fj11-contas/.project
fj11-contas/.settings/

conta-interface/.classpath
conta-interface/.project
conta-interface/.settings/


C14_7Exercicio2/.classpath
C14_7Exercicio2/.project
C14_7Exercicio2/.settings/

sockets/.classpath
sockets/.project
sockets/.settings/
